/* BODY */ 

body {
    background-color: #F5F5F5;
}

/* HOMEPAGE */

#home {
    margin: auto;
    width: 75%;
    margin-top: 50px;
}

#top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: auto;
}

a {
    text-decoration: none;
    color: #424141;
}

.button {
    font-size: xx-large;
    font-weight: 400;
    letter-spacing: 2px;
    width: 12rem;
    height: 4rem;
    text-align: center;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
    margin-top: 40px;
}

.find {
    background-color: #AEDB98;
}

.find:hover {
    background-color: #87d85f;
    transition: .6s;
}

.lost {
    background-color: #C87F7F;
}

.lost:hover {
    background-color: #c34646;
    transition: .6s;
}

#logo {
    width: 250px;
}

main, #profile {
    margin-top: 50px;
    background-color: #D9D9D9;
    border-radius: 5px;
    padding: 5%;
}

#search {
    display: flex;
    justify-content: space-around;
}

#location,
#sort {
    height: 2rem;
    border: 0;
    border-radius: 5px;
    font-size: large;
}

#location {
    width: 65%;

}

#sort {
    width: 25%;
}

#map {
    margin: auto;
    width: 95%;
    border: solid 2px black;
    height: 400px;
    margin-top: 50px;
    border-radius: 5px;
}


/* PROFILE */

#action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
    margin-bottom: 50px;
}

#logout,#navHome {
    border: solid 2px transparent;
    transition: 0.3s;
    cursor: pointer;
}

#homeLogo{
    width: 30px;
    margin: 5px 5px 0px 5px;
}

#logout{
    font-size: 25px;
    background-color: transparent;
}

#logout:hover, #navHome:hover {
    border-bottom: solid 2px black;
    transition: 0.6s;
}

#personnalInfo, #previous{
    display: flex;
    padding: 2%;
}

#pp{
    border: solid 2px black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 7px;
}

#profileForm{
    width: 75%;
    margin: 5px auto;
}

#firstLine>input,
#secondLine>input,
#thirdLine>input,
#fourthLine>input{
    font-size: x-large;
    background-color: transparent;
    border: solid 2px transparent;
    border-radius: 5px;
    transition: .3s;
    margin: 3px 6px;
}

#firstLine>input:hover,
#secondLine>input:hover,
#thirdLine>input:hover,
#fourthLine>input:hover {
    background-color: #F5F5F5;
    transition: .3s;
}

#firstLine>input:focus,
#secondLine>input:focus,
#thirdLine>input:focus,
#fourthLine>input:focus {
    outline: none;
}

#update{
    margin-top: 20px;
    font-size: 20px;
    border-radius: 5px;
    border: solid 2px transparent;
    padding: 5px 10px;
    background-color: #F5F5F5;
    transition: .6s;
    cursor: pointer;
}

#update:hover{
    border: solid 2px #F5F5F5;
    background-color: transparent;
    transition: .6s;
}