/* BODY */

body{
    background-color: #F5F5F5;
}

/* HOMEPAGE */

#home{
    margin: auto;
    width: 75%;
    margin-top: 50px;
}

#top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: auto;
}

a{
    text-decoration: none;
    color: #424141;
}

.button{
    font-size: xx-large;
    font-weight: 400;
    letter-spacing: 2px;
    width: 12rem;
    height: 4rem;
    text-align: center;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
    margin-top: 40px;
}

.find{
    background-color: #AEDB98;
}

.find:hover {
    background-color: #87d85f;
    transition: .6s;
}

.lost{
    background-color: #C87F7F;
}

.lost:hover {
    background-color: #c34646;
    transition: .6s;
}

#logo{
    width: 200px;
}

main{
    margin-top: 50px;
    background-color: #D9D9D9;
    border-radius: 5px;
    padding: 5%;
}

#search{
    display: flex;
    justify-content: space-around;
}

#location, #sort{
    height: 2rem;
    border: 0;
    border-radius: 5px;
    font-size: large;
}

#location{
    width: 65%;
    
}

#sort{
    width: 25%;
}

#map{
    margin: auto;
    width: 95%;
    border: solid 2px black;
    height: 400px;
    margin-top: 50px;
    border-radius: 5px;
}
